/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* color palette from */

/* semantic color variables for this project */

/* FONTS */
@font-face {
  font-family: HyliaSerif;
  src: url("HyliaSerifBeta-Regular.otf") format("opentype");
}

/* body */
body {
  font-family: 'Open Sans';
  background: #ece6d9;
}

h1 {
  font-family: HyliaSerif;
  letter-spacing: 4px;
}



